#url, #unicode, #base64, #utf8, #utf16, #hex, #md5, #sha1 {
  .action {
    margin: 10px 0;

    button {
      margin-right: 10px;
    }
  }

  .source, .output {
    textarea {
      width: 100%;
      height: 300px;
    }
  }
}
