@import "../theme";

#home {
  .card {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;

    .content {
      display: flex;
      flex-wrap: wrap;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 30px;
        margin: 5px;
        color: $text-color;
        border: 1px solid $border-color-base;
        border-radius: $border-radius-base;
        transition: $transition-base;

        &:hover {
          color: $primary-color;
          border-color: $primary-color;
        }
      }
    }

  }
}
