@import './var';

/*
插件 codemirror 样式设置
 */

// 行高
$lineHeight: $codeSize * 1.8;
// 上下边距
$padding: 8px;

.CodeMirror {
  font-family: $codeFont;
  font-size: $codeSize;
}

// 根据行数计算编辑器高度，生成 .line-1 到 .line-20 的样式
@for $i from 1 through 20 {
  .line-#{$i} .CodeMirror {
    height: $lineHeight * $i + $padding !important;
  }
}
